<%- include('../partials/html-head') %>
<!-- <link rel="stylesheet" href="/stylesheets/style.css" /> -->
<%- include('../partials/nav') %>
<main>
<section>
  <h1><%= title %></h1>
  <% if (events.length) { %>
  <table>
    <thead>
      <tr>
        <th>Event:</th>
        <th>Location:</th>
        <th>Date:</th>
        <th>Attended:</th>
        <th>Price:</th>
        <th>Notes:</th>
      </tr>
    </thead>
    <tbody>
      <%# Oh hey, this is an ejs comment! It starts with a # %>
      <%# Write the line of EJS to iterate over movies using forEach #%>
      <% events.forEach(event => { %>
        <tr> 
          <td><%= event.name %></td>
          <td><%= event.location %></td>
          <td><%= event.date %></td>
          <td><%= event.attended %></td>
          <td><%= event.price %></td>
          <td><%= event.notes %></td>
          <td><a href="events/<%= event._id %>">Event Details</button></td>
            <td>
              <form 
            action="/events/<%= event._id %>?_method=DELETE" 
            method="POST"
          >
            <button>X</button>
            </form>
          </td>
        </tr>
     <% }) %>
    </tbody>
  </table>
  <% } else { %>
    <h3>No Events Yet</h3>
  <% } %>
 </section>


</main>

<%- include("../partials/footer") %>