<%- include('../partials/html-head') %>
<!-- <link rel="stylesheet" href="/stylesheets/movies/new.css" /> -->
<%- include('../partials/nav') %>

<main>
    <class="h1" h1><%= title %></h1>
    <form id="new-form" action="/events/new" method="POST">
      <label for="name-input">Event:</label>
      <input required type="string" name="name" id="name-input">
    
      <label for="location-select">Location:</label>   
      <select name="location" id="location-select">
        <% locations.forEach(function(location) { %>
          <option value="<%= location._id %>"><%= location.name %></option>
        <% }) %>
      </select>
      
      <label for="date-input">Date:</label>
      <input type="datetime-local" name="date" id="date-input">
      
      <label for="attended-input">Attended:</label>
      <select name="attended" id="attended-select">
        <option value="Yes">Yes</option>
          <option selected value="No">No</option>
      </select>

      <label for="price-input">Price:</label>
      <input type="number" name="price" id="price-input">

      <label for="notes-input">Notes:</label>
      <input type="text-area" name="notes" id="price-input">
          
      <class="button" type="submit">Add Event</button>
    </form>
  </main>

  <img class="this-week" src="../images/this-week.jpg" size="300" alt="This week">


<%- include("../partials/footer") %>