<%- include('../partials/html-head') %>
<!-- <link rel="stylesheet" href="/stylesheets/flights/show.css" /> -->
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Event: </div>
    </div>
    <div>Location: </div>
    <div><%= event.location%></div>
    <div>: </div>
    <div><%= event.date %></div>
    <div>Attended: </div>
    <div><%= event.attended %></div>
    <div>Price: </div>
    <div><%= event.price %></div>
</section>

<section>
  <h3>Location</h3>
  <% if (event.locations.length) { %>
   <table>
     <tbody>
       <% event.locations.forEach(function(location) { %>
         <tr>
           <td><%= location.name %></td>
         </tr>
       <% }) %>
     </tbody>
   </table>
 <% } else { %>
   <h3>No Locations Yet</h3>
 <% } %>
</section>


<section> 
<form
    id="add-location-form"
    action="/events/<%= event._id %>/locations"
    method="POST"
  >
    <label for="location-select">Location:</label>
    <select name="locationSelect" id="location-select">
      <% locations.forEach(function(location) { %>
        <option value="<%= location._id %>"><%= location.name %></option>
      <% }) %>
    </select>
    <button type="submit">Add Location</button>
  </form>
  <div>
    <%= event.title %> 
    <a href="/locations/<%= location._id %>/edit">
      <button>Edit Location</button>
    </a>
    <td>
      <a href="/locations/<%= location._id %>">DETAILS</a></td>
          <td>
            <form 
              action="/locations/<%= location._id %>?_method=DELETE"
              method="POST"
            >
              <button>X</button>
            </form>
          </td>
  </div>
</section>

<%- include('../partials/footer') %>