<%- include('../partials/html-head') %>
<!-- <link rel="stylesheet" href="/stylesheets/events/show.css" /> -->
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Event: </div>
    </div>
    <div>Location: </div>
    <div><%= event.location %></div>
    <div>: </div>
    <div><%= event.date %></div>
    <div>Attended: </div>
    <div><%= event.attended %></div>
    <div>Price: </div>
    <div><%= event.price %></div>
</section>

<section>
  <h3>Location</h3>
  <% if (event.location) { %>
   <table>
     <tbody>
       <% event.location.forEach(function(location) { %>
         <tr>
           <td><%= location.name %></td>
         </tr>
       <% }) %>
     </tbody>
   </table>
 <% } else { %>
   <h3>No Locations Yet</h3>
 <% } %>
</section>


<section> 
<form
    id="add-location-form"
    action="/events/<%= event._id %>/location"
    method="POST"
  >
    <label for="location-select">Location:</label>
    <select name="locationSelect" id="location-select">
      <% location.forEach(function(location) { %>
        <option value="<%= location._id %>"><%= location.name %></option>
      <% }) %>
    </select>
    <button  class="button" type="submit">Add Location</button>
  </form>
  <div>
    <%= event.title %> 
    <a href="/locations/<%= location._id %>/edit" class="link">
      <form id="new-form" action="/events" method="POST">
        <label for="name-input">Event:</label>
        <input required type="string" name="name" id="name-input">
      <button>Edit Location</button>
      <form id="add-location-form" action="/locations" method="POST">
        <label for="name-input">Name:</label>
        <input type="text" name="name" id="name-input">
        <label for="address-input">Address:</label>
        <input type="text" name="address" id="address-input">
        </form>
    </a>
    <td>
      <a href="/locations/<%= location._id %>" class="link">DETAILS</a></td>
          <td>
            <form 
              action="/locations/<%= location._id %>?_method=DELETE"
              method="POST"
            >
              <button class="button">X</button>
            </form>
          </td>
  </div>
  <div>
    
  </div>
</section>

<%- include('../partials/footer') %>