<%- include('../partials/html-head') %>
<!-- <link rel="stylesheet" href="/stylesheets/movies/edit.css" /> -->
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form 
    id="new-form" 
    action="/locations/<%= location._id %>?_method=PUT" 
    method="POST"
  >
    <label for="name-input">Name:</label>
    <input type="text" name="name" value="<%= location.name %>" id="name-input"  <% if (!location.owner.equals(user.profile._id)) { %> readonly <% } %> >
    <label for="address-input">Address:</label>
    <input 
      type="text" 
      name="address" 
      value="<%= location.address %>"
      id="address-input"
      <% if (!location.owner.equals(user.profile._id)) { %> readonly <% } %>
    >  
    <% if (location.owner.equals(user.profile._id)) { %> 
    <button class="button" type="submit">Save Location</button>
    <% } %>
  </form>
  <img class="location-details" src="../images/location-details.jpg" alt="location-details">
</main>

<%- include("../partials/footer") %>